SECRET_KEY=2fe66327175d7cb163600736c680c72623fd8a6637e26cfe0ca38c51da3eb17c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=sqlite:///./faceattend.db
RECOGNITION_THRESHOLD=11.5
MODEL_NAME=Facenet
DETECTOR_BACKEND=opencv

EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_ENABLED=false
FRONTEND_URL=http://localhost:5173

DATA_DIR=.
UPLOAD_DIR=pending_uploads
ENCRYPTION_KEY=KaEAaJ6DeDP1f7NCzGHS-BaNuVYY_sX7NfSoRXGb7Jw=